// @file
// Declare fonts for use.

%sans-serif-regular {
  font-family: "Segoe UI",Hevetica Neue, Ubuntu, Verdana, Arial, sans-serif;
}

%sans-serif-light {
  font-family: "Segoe UI light", "Segoe UI", "Helvetica Neue Light", Hevetica Neue, Ubuntu, Verdana, Arial, sans-serif;
  font-weight: 300;
}
